startup_info
init_session.session
.venv
.env
.idea
/utilities/hiden_utils.py
/dialogs/
/dialogs_delta/
/message_table/
/user_table/
/key_words_extraction/
/dbx_connect/
/text_classification/
/labelled_messages_for_training/
/messages_for_training/
/labelled_messages_for_training_toxic/
