cffi==1.17.1
cryptography==44.0.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jeepney==0.8.0
more-itertools==10.6.0
pyaes==1.6.1
pyasn1==0.6.1
pycparser==2.22
rsa==4.9
Telethon==1.38.1
aiohttp
pyspark
pandas
PyArrow
grpcio
protobuf
delta-spark
numpy
setuptools
dotenv
# AZURE ai services
azure-ai-textanalytics==5.2.0
azure-cognitiveservices-speech==1.41.1
azure-common==1.1.28
azure-core==1.32.0
azure-search-documents==11.5.2
# Databricks
databricks-sdk
databricks-vectorsearch